<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>编码</title>
    <link rel="stylesheet" href="../css/bulma.min.css" th:href="@{/css/bulma.min.css}"/>
    <link rel="stylesheet" href="../css/common.min.css" th:href="@{/css/common.min.css}"/>
    <script src="../js/md5.min.js" th:src="@{/js/md5.min.js}"></script>
    <script src="../js/base64.min.js" th:src="@{/js/base64.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">
    <div class="columns">
        <div class="column" style="text-align: center"><a href="./encode.html" th:href="@{/page/encode}">编码转换</a></div>
        <div class="column" style="text-align: center"><a href="./url.html" th:href="@{/page/url}">短网址</a></div>
        <div class="column" style="text-align: center"><a href="./json.html" th:href="@{/page/json}">JSON格式化</a></div>
        <div class="column" style="text-align: center"><a href="./xml.html" th:href="@{/page/xml}">XML格式化</a></div>
        <div class="column" style="text-align: center"><a href="./qrcode.html" th:href="@{/page/qrcode}">二维码</a></div>
    </div>
</div>
<div id="content"></div>
</body>
<script>

    let itemTemplate = `
        <div class="columns">
            <div class="column">
                <textarea class="textarea" rows="8" id="{{id-source}}"></textarea>
            </div>
            <div class="column is-1">{{display-name}}</div>
            <div class="column">
                <textarea class="textarea" rows="8" id="{{id-result}}"></textarea>
            </div>
        </div>
    `;

    let methodArr = [
        {name: 'UrlEncode', code: 'url-encode'},
        {name: 'Base64', code: 'base64'},
        {name: 'MD5', code: 'md5'},
        {name: 'Unicode', code: 'unicode'}
    ];

    let contentInnerHTML = '';
    for (let method of methodArr) {
        contentInnerHTML += itemTemplate
            .replace(/{{display-name}}/g, method.name)
            .replace(/{{id-source}}/g, method.code + '-source')
            .replace(/{{id-result}}/g, method.code + '-result');
    }
    document.getElementById('content').innerHTML = contentInnerHTML;


    { // url encode
        let urlEncodeSource = document.getElementById('url-encode-source');
        let urlEncodeResult = document.getElementById('url-encode-result');
        urlEncodeSource.addEventListener('blur', _ => {
            urlEncodeResult.value = encodeURIComponent(urlEncodeSource.value);
        });
        urlEncodeResult.addEventListener('blur', _ => {
            urlEncodeSource.value = decodeURIComponent(urlEncodeResult.value);
        });
    }

    { // base64
        let base64Source = document.getElementById('base64-source');
        let base64Result = document.getElementById('base64-result');
        base64Source.addEventListener('blur', _ => {
            base64Result.value = Base64.encode(base64Source.value);
        });
        base64Result.addEventListener('blur', _ => {
            base64Source.value = Base64.decode(base64Result.value);
        });
    }

    { // md5
        let md5Source = document.getElementById('md5-source');
        let md5Result = document.getElementById('md5-result');
        md5Source.addEventListener('blur', _ => {
            md5Result.value = MD5(md5Source.value) + '\n\n' + MD5(md5Source.value).toLowerCase();
        });
    }

    { // unicode
        let unicodeSource = document.getElementById('unicode-source');
        let unicodeResult = document.getElementById('unicode-result');
        unicodeSource.addEventListener('blur', _ => {
            let unicode = '';
            for (let i = 0; i < unicodeSource.value.length; i++) {
                unicode += '\\u' + unicodeSource.value.charCodeAt(i).toString(16);
            }
            unicodeResult.value = unicode;
        });
        unicodeResult.addEventListener('blur', _ => {
            let arr = unicodeResult.value.split(/\\/g).slice(1);
            let str = '';
            for (let item of arr) {
                let unescapeStr = unescape('%' + item);
                if (unescapeStr.length > 2 && unescapeStr.indexOf('%') === 0) {
                    let zero = '';
                    for (let i = 0; i < 6 - unescapeStr.length; i++) {
                        zero += '0';
                    }
                    unescapeStr = unescape(unescapeStr.substring(0, 2) + zero + unescapeStr.substring(2, unescapeStr.length));
                }
                str += unescapeStr;
            }
            unicodeSource.value = str;
        });
    }
</script>
</html>