<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>短网址</title>
    <link rel="stylesheet" href="../css/bulma.min.css" th:href="@{/css/bulma.min.css}"/>
    <link rel="stylesheet" href="../css/common.min.css" th:href="@{/css/common.min.css}"/>
    <script src="../js/axios.min.js" th:src="@{/js/axios.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">
    <div class="columns">
        <div class="column" style="text-align: center"><a href="./encode.html" th:href="@{/page/encode}">编码转换</a></div>
        <div class="column" style="text-align: center"><a href="./url.html" th:href="@{/page/url}">短网址</a></div>
        <div class="column" style="text-align: center"><a href="./json.html" th:href="@{/page/json}">JSON格式化</a></div>
        <div class="column" style="text-align: center"><a href="./xml.html" th:href="@{/page/xml}">XML格式化</a></div>
        <div class="column" style="text-align: center"><a href="./qrcode.html" th:href="@{/page/qrcode}">二维码</a></div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <textarea class="textarea" rows="20" id="url" placeholder="此处输入网址"></textarea>
    </div>
    <div class="column">
        <textarea class="textarea" rows="1" id="short-url" placeholder="此处为转换后的短网址"></textarea>
        <textarea class="textarea" style="margin-top: 20px" rows="1" id="short-url-text"
                  placeholder="此处为转换后的查看网址"></textarea>
    </div>
</div>
</body>
<script>
    let url = document.getElementById('url');
    let shortUrl = document.getElementById('short-url');
    let shortUrlText = document.getElementById('short-url-text');
    let href = location.href.split('/tools/')[0];

    url.addEventListener('change', _ => {
        axios.post('/tools/t', {
            url: url.value
        }).then(function (response) {
            if (response.status === 200) {
                shortUrl.value = `${href}/tools/t/${response.data}`;
                shortUrlText.value = `${href}/tools/text/${response.data}`;
            } else {
                shortUrl.value = JSON.stringify(response);
            }
        }).catch(function (error) {
            shortUrl.value = JSON.stringify(error);
        });
    });

    shortUrl.addEventListener('change', _ => {
        let code = shortUrl.value.substring(shortUrl.value.lastIndexOf('/') + 1);
        axios.get('/tools/text/' + code, {}).then(function (response) {
            if (response.status === 200) {
                url.value = response.data;
            } else {
                url.value = JSON.stringify(response);
            }
        }).catch(function (error) {
            url.value = JSON.stringify(error);
        });
    });
</script>
</html>