<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bulma.css" th:href="@{/css/bulma.min.css}"/>
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.min.css}"/>
</head>
<body>
<div th:fragment="header">
    <div class="columns">
        <div class="column" style="text-align: center"><a href="../encode.html" th:href="@{/page/encode}">编码转换</a></div>
        <div class="column" style="text-align: center"><a href="../url.html" th:href="@{/page/url}">短网址</a></div>
        <div class="column" style="text-align: center"><a href="../json.html" th:href="@{/page/json}">JSON格式化</a></div>
        <div class="column" style="text-align: center"><a href="../xml.html" th:href="@{/page/xml}">XML格式化</a></div>
        <div class="column" style="text-align: center"><a href="../qrcode.html" th:href="@{/page/qrcode}">二维码</a></div>
    </div>
</div>
</body>
</html>