<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>编码</title>
    <link rel="stylesheet" href="../static/css/bulma.css" th:href="@{/css/bulma.min.css}"/>
    <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.min.css}"/>
    <script src="../static/js/md5.js" th:src="@{/js/md5.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>
<div id="content"></div>
</body>
<script>

    let itemTemplate = `
        <div class="columns">
            <div class="column">
                <textarea class="textarea" rows="8" id="{{id-source}}"></textarea>
            </div>
            <div class="column is-1">{{display-name}}</div>
            <div class="column">
                <textarea class="textarea" rows="8" id="{{id-result}}"></textarea>
            </div>
        </div>
    `;

    let methodArr = [
        {name: 'UrlEncode', code: 'url-encode'},
        {name: 'Base64', code: 'base64'},
        {name: 'MD5', code: 'md5'}
    ];

    let contentInnerHTML = '';
    for (let method of methodArr) {
        contentInnerHTML += itemTemplate
            .replace(/{{display-name}}/g, method.name)
            .replace(/{{id-source}}/g, method.code + '-source')
            .replace(/{{id-result}}/g, method.code + '-result');
    }
    document.getElementById('content').innerHTML = contentInnerHTML;


    { // url encode
        let urlEncodeSource = document.getElementById('url-encode-source');
        let urlEncodeResult = document.getElementById('url-encode-result');
        urlEncodeSource.addEventListener('change', _ => {
            urlEncodeResult.value = encodeURIComponent(urlEncodeSource.value);
        });
        urlEncodeResult.addEventListener('change', _ => {
            urlEncodeSource.value = decodeURIComponent(urlEncodeResult.value);
        });
    }

    { // base64
        let base64Source = document.getElementById('base64-source');
        let base64Result = document.getElementById('base64-result');
        base64Source.addEventListener('change', _ => {
            base64Result.value = window.btoa(base64Source.value);
        });
        base64Result.addEventListener('change', _ => {
            base64Source.value = window.atob(base64Result.value);
        });
    }

    { // md5
        let md5Source = document.getElementById('md5-source');
        let md5Result = document.getElementById('md5-result');
        md5Source.addEventListener('change', _ => {
            md5Result.value = MD5(md5Source.value) + '\n\n' + MD5(md5Source.value).toLowerCase();
        });
    }

</script>
</html>